
.block{
    display: inline-block;
    height: auto;
    width:auto
}
 #title{
    background-color: green;
}
#logo{
    align-content: center;
    background-color: red;
}
#menu ul{
    background-color: yellow;
    text-align: center;
    list-style-type: none;
}
#menu li{
    display:inline;
    padding: 16px;
    line-height: 100px;
}
#section{
    text-align: center;
}
#section div{
    display:inline-block;
    width: 410px;
    height: 100px;
    line-height: 100px;
}
#content{
    background-color: cyan;
}
#sidebar{
    width: 300px;
    height: 1263px ;/*Co cach nao de bang height cua content k*/
    background-color: brown;
    float:right
}
#footer{
    height: 100px;
    background-color:dodgerblue;
}
/* khó quá */
