.input{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.input #find{
    margin-left: 50px;
}
.input #back{
    margin-left: 20px;
}
#body{
    display:flex;
    flex-flow:wrap row;
    justify-content: center;
}
.pokemon{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    padding: 10pt;
    border: solid thin black;
    box-shadow: 5px 10px rgba(0,0,0,0.16);
    border-radius: 10px;
    height: 180pt;
    width: 100pt;
    margin: 10pt
}
.pokemon img{
    margin:0;
    height: 100pt;
    width: 100pt;
} 
.pokemon p{
    font-weight: 500;
    margin:0;
}
